* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace, sans-serif;
    cursor: default;
    user-select: none
}

html, body {
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

svg {
    fill: #000;
    width: 24px;
    height: 24px;
}

#content {
    background: #fafafa;
    position: relative;
    overflow: hidden;
    max-width: 520px;
    margin: auto;
    margin-top: 45vw;
}

#banner {
    position: fixed;
    width: 125vw;
}

section {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.section-head, #prompt-head {
    font-weight: 700;
    padding: 19px 0 !important;
}

#features {
    text-align: center;
}

#contacts, #prompt, #about {
    padding: 0 12px;
}

#icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#title {
    color: black;
    font-weight: normal;
    font-size: 1.25rem;
}

#sub-title, p {
    color: #616161;
    font-size: 1rem;
}

#description {
    text-align: center;
}

#description p, #prompt p {
    padding: 14px 0;
}

#prompt p {
    padding-top: 0;
}

.text-btn {
    color: black;
    padding-top: 0 !important;
}

#install-btn {
    height: 36px;
    width: 100%;
    font-size: 0.875rem;
    font-family: 'Roboto Medium';
    background: #fafafa;
    border: 1px solid #dadce0;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    margin: 6px 0;
    transition-duration: 200ms;
    transition-property: background-color, color, box-shadow, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#images {
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 8px;
    padding-top: 16px;
}

.image {
    border-radius: 8px;
    max-width: 380px;
    margin-right: 2px;
}

#image-wrapper {
    width: max-content;
    height: 260px;
}

#intro-text {
    padding: 20px 0;
    vertical-align: top;
    margin-left: 16px;
}

#icon, #intro-text, .image {
    display: inline-block;
}

.contact {
    padding: 15px 0;
}

.contact svg {
    fill: #616161;
}

.contact span {
    margin-left: 16px;
    vertical-align: super;
}

.feature, #prompt-head {
    color: #757575;
    font-size: 0.875rem;
    font-weight: normal;
}

/*
@media (min-width: 425px) {
    #content{
        transform: translateY();
    }
} */